body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background:url(images/bgnoise_lg.png);
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}

.form{
	background:#f1f1f1; width:550px; margin:0 auto; padding-left:65px; padding-top:20px;
}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 450px; }
.form input[type="email"] { width: 450px; }
.form input.birthday{width:90px;}
.form input.birthyear{width:130px;}
.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.form label.month {width: 165px;}
.form input, textarea { background-color: rgba(156, 158, 160, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .gender {
  width:460px;
  }
.form input.buttom{ background: #4b8df9; display: inline-block; text-align: center; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 16px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #3582a0; }



body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td { 
	margin:0;
	padding:0;
}
/*html,body {
	margin:0;
	padding:0;
	height: 100%;
}*/
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
img { 
	border:0;
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
header{
	display: block;
}


a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 20px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	position: relative;
	color: #498ea5;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 0px 0px 5px 0px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h1 span{
	
	display: block;
	
}

.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}

.form .select-style {
  background-image: url(images/select-arrow.png),
  -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: center right;
   background-repeat: no-repeat;
   border: 0px solid #FFF;
      color: #555;
  font-size: inherit;
  margin: 0;
 overflow: hidden;
 
 padding-top: 5px;
 padding-bottom: 5px;
 text-overflow: ellipsis;
 white-space: nowrap;
   }
  
 
    table{ 
      
      font-size: 11pt; 
      border-collapse: collapse; 
      text-align:;
      
    }
    table.inner{
      border: 0px
	}
	#submite{
		float: right;
		background-color: white;
		margin-top: 90px;
		margin-right: 360px;
		width: 500px;
		
		padding: 70px;
	}
	#submite h1{
		color:rgb(16, 153, 11);
		font-size: 40px;
		text-align: center;
		padding: 5px;

	}
	#submite p{
		color: blue;
		font-size: 20px;
		padding: 5px;
		text-align: center;
	}
	#submite a{
		color: rgb(73, 10, 156);
		text-decoration: underline;
		margin-left: 190px;
		 font-size: 28px;
		
		
	}
	#submite img{
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100px;
	}
	 footer h3{
	text-align: right;
	margin-top: -25px;
	color: blue;
	font-weight: bold;
	
	
	
}
 footer h2{
	margin-top: -25px;
	color: blue;
	font-weight: bold;
	
	
	
}